body{
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
}

/* -----------------------------------ヘッダーメニュー用 -----------------------------------*/
.header_list{
    margin: 0;
    padding: 8px 0;
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    min-height: 3.5%;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
    background-color: #BEA574;
    font-size: 16px;
    z-index: 9;
}

.header_title{
    margin-right: 10%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-basis: 15rem;
}

.header_title img{
    width: 100px;
    padding-top: 1.5%;
}

.hamburger{
    display: none;
}

.header_menu{
    flex-basis: 15rem;
}


.header_list a:hover{
    opacity: 0.5;
}

.header_list a{
    text-decoration: none;
    color: inherit;
    display: block;
}

@media screen and (max-width: 650px) {
.header_list{
    display: block;
    padding: 1% 0;
}

.header_menu{
    display: none;
    border-top: 1px white solid;
    }
.header_title{
    width: 50%;
    display: flex;
    align-items: center;
}
/* -----------------------------------ヘッダーメニュー用ここまで -----------------------------------*/

/* -----------------------------------ハンバーガーメニュー用 -----------------------------------*/
.hamburger{
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
    position: fixed;
    color: white;
    right: 15%;
    cursor: pointer;
    width: 50px;
    z-index: 10;
    display: block;
}
.hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    height: 1.5px;
    background-color: white;
    width: 80%;
    z-index: 10;
    display: block;
}
.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 20% 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}
.hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 17px;
    transform: translateY(10px) rotate(-40deg);  /* 上に6px移動させ、-33度回転させる */
}
.hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    opacity: 0;
}
.hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 30px;
    transform: translateY(-10px) rotate(40deg);  /* 上に6px移動させ、33度回転させる */
}
}
/* -----------------------------------ハンバーガーメニュー用ここまで -----------------------------------*/

/* -----------------------------------swiper -----------------------------------*/

.swiper-wrapper {
    /* サイズ調整 */
    margin-top: 46.1px;
}

.swiper-slide {
    /* 文字配置調整、背景色設定 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
  width: 100%; /* 幅を親要素に合わせる */
  /* max-width: 1400px; */
  min-height: 300px;
  object-fit: cover;
  display: block;
  aspect-ratio: 20 / 9;
}

.swiper-button-next,
.swiper-button-prev{
    margin:0 10%;
    margin-top: 15px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-pagination-bullet{
    background-color: #BEA574;
    width: 16px;
    height: 16px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
/* -----------------------------------swiperここまで -----------------------------------*/

.index1{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 24px
}
.index1 span{
    color: red;
    font-size: 60px;
}


.index2-4{
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0 25px;
}
.index2-4 h2{
    padding-top: 70px;
}

.service_menu{
    margin: auto;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.service_menu li{
    width: 100%;
    max-width: 360px;
    border-bottom: 3.5px solid #BEA574;
    padding: 1rem;
    background-color: #D9D9D9;
    transition: background-color 0.4s ease;
    color: #686767;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width: 650px) {
.service_menu{
    flex-wrap: wrap;
    }
.service_menu li{
    margin: 0.2rem 0;
    }
}

.service_menu li.active{
    background-color: #BEA574;
    color: white;
}


.service_description{
    margin: auto;
    display: block;
    box-shadow: 1px 0 5px 1px #b1b0b0;
    width: 100% ;
    max-width: 1173px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.service_description p{
    display: none;
}

.service_description p.active{
    display: block;
    margin: auto;
}

@media screen and (max-width: 650px) {
.service_description{
    max-width: 392px;
}
.service_description p.active{
    margin-top: 16px;
}
}


.map{
    width: 100%;
    max-width: 1173px;
    aspect-ratio: 20 / 10;
}


.Form {
  margin: auto;
  max-width: 720px;
  text-align: center;
  width: 90%;
}
@media screen and (max-width: 650px) {
.Form {
  margin-top: 40px;
}
}

.Form-Item-Label {
    margin: auto;
    letter-spacing: 0.05em;
    text-align: left;
}

.Form-Item-Label-Required {
  text-align: center;
  color: red;
  font-size: 10px;
}

.Form-Item-Input {
  border: 1px solid #b1b0b0;
  width: 100%;
  padding: 4px 0px;
  margin-bottom: 16px;
}

.Form-Item-Select {
  border: 1px solid #b1b0b0;
  width: 100%;
  padding: 2px 0px;
  margin-bottom: 16px;
}

.Form-Item-Select:invalid { color: #b1b0b0; }
.Form-Item-Select option { color: black; }

.Form-Item-Label-NoRequired {
  text-align: center;
  color: grey;
  font-size: 10px;
}

.Form-Item-Label-telcheck,
.Form-Item-Label-emailcheck{
  display: none;
}
.Form-Item-Label-telcheck.active,
.Form-Item-Label-emailcheck.active {
  text-align: center;
  color: red;
  font-size: 14px;
  display: inline;
}

.Form-Btn {
  width: 100%;
  padding: 8px 0px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 70px;
  background-color: #BEA574;
  border: 0px;
  color: white;
  opacity: 0.5;
  pointer-events: none;
}
.Form-Btn.enable{
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
} 
.Form-Btn:hover{
    opacity: 0.5;
}

.footer{
    margin-top: 24px;
    padding: 8px 0;
    bottom: 0; /* 画面の一番下に配置 */
    width: 100%; /* 幅100% */
    background-color: #BEA574;
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 3.5%;
}

.footer a{
    display: flex;
    justify-content:center;
    align-items: center;    
}

.footer a:hover{
    opacity: 0.5;
}

.footer img{
    width: 100px;
    padding-top: 1.5%;
}


.confirm_row{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: left;
    margin: 48px 0;
    font-weight: bold;
}
.confirm_row p{
	display: inline-block;
    width: 40%;
    max-width: 300px;
    margin-left: 10px;
}

.confirm_row textarea{
	display: none;
}

.confirm_row button{
    min-width: 50px;
    height: 35px;
    border-radius: 6px;
    border: 0px;
    color: white;
    margin: 0 75px;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}
.confirm_row button:hover{
    opacity: 0.5;
}

.confirm_row a{
    min-width: 50px;
    height: 35px;
    border-radius: 6px;
    border: 0px;
    color: white;
    margin: 0 75px;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm_row a:hover{
    opacity: 0.5;
}


#back{background-color: #bdbdbd;}
#submit{background-color: #BEA574;}


@media screen and (min-width: 800px) {
.confirm_row{
    transform: translateX(-61px);
}
.confirm_row button{
    transform: translateX(61px);
}
.confirm_row a{
    transform: translateX(61px);
}
}
